<section class="calendly-section {% unless section.settings.full_width %}rich-text--container{% endunless %} calendly-section--{{section.id}}">
    {%
        render 'lumired-calendly-sin',
        text: section.settings.calendly_text ,
        inner_text: section.settings.calendly_inner_text,
        border_top: section.settings.border_top
    %}
</section>

{% schema %}
  {
    "name": "Calendly",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full width section",
        "default": false
      },
      {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Spacing top",
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Spacing bottom",
        "default": 0
      },
      {
        "id": "content_position",
        "type": "select",
        "label": "Content position",
        "options": [
          {
            "value": "flex-start",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "flex-end",
            "label": "Right"
          }
        ],
        "default": "center"
      },
      {
        "type": "range",
        "id": "content_width",
        "min": 0,
        "max": 1000,
        "step": 10,
        "unit": "px",
        "label": "Content width",
        "default": 500
      },
      {
        "type": "checkbox",
        "id": "border_top",
        "label": "Content border top",
        "default": false
      },
      {
        "type": "text",
        "id": "calendly_text",
        "label": "Calendly text",
        "default": "Want to schedule a call with our expert? Click the link below and book a slot"
      },
      {
        "type": "text",
        "id": "calendly_inner_text",
        "label": "Calendly inner text",
        "default": "Get help from our expert"
      }
    ],
    "presets": [
        {
        "name": "Calendly",
        "category": "Calendly"
        }
    ]
  }
{% endschema %}

{% style %}
  .calendly-section--{{section.id}} {
    display: flex;
    padding-block: 0;
    flex-direction: column;
    margin-top: {{ section.settings.margin_top}}px;
    margin-bottom: {{ section.settings.margin_bottom}}px;
    align-items: {{ section.settings.content_position}};
  }

  .calendly-section--{{section.id}} .calendly {
    width: {{ section.settings.content_width}}px;
  }

{% endstyle %}