


<section class="main-product">
  {%- section 'lumipromax-static-product' -%}
</section>

<section class="product-description">
  {%- section 'lumipromax-dynamic-video-with-text' -%}
</section>
 

<section class="product-comparision ">
  {%- section 'lumipromax-dynamic-product-comparision-table' -%}
</section>
{%- section 'lumipromax-dynamic-about' -%}

  {%- section 'lumipromax-dymanic-shop-with-confidence' -%}



  


<section class="faq-sec">
  {% section "lumipromax-dynamic-faq-accordion" %}
</section>
 {% section "judgeme_carousel_section" %}
<section class="rating-review">
    <div class="p-tb image-with-text">
      <div id="judgeme_product_reviews"
  class="jdgm-widget jdgm-review-widget" data-product-title="{{ product.title }}" data-id="{{
  product.id }}">
        {{ product.metafields.judgeme.widget }}
      </div>    
  </div>

  <!--Stamped - Begin Main Widget -->
<!--   <div
    id="stamped-main-widget"
    data-product-id="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: " large" |replace: '?', '%3F' | replace: '&','%26'}}"
    data-description="{{ product.description | escape }}"
    data-product-sku="{{product.handle}}"
    data-product-type="{{product.type}}">
    {{product.metafields.stamped.reviews}}
  </div> -->
  <!-- Stamped - End Main Widget -->
</section>

<section class="product-recommendation">
  <div class="p-tb">
    {%- section 'static-lumipromax-product-recommendations' -%}
  </div>
</section>
<style>
  
 
</style>